.section{
  margin:10px;
  display: inline-table;
  justify-content: space-around;
  border-radius: 50px;
  border-color: lightblue;
  background-color: lightblue;
}
body {
  background-color: rgb(175, 238, 175);
}
.country{
  
}

.title {
  margin: 20px;
}